/* site.css */

/* Apply a universal box-sizing rule */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Main content styling */
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

/* Main section styling */
main {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin: 20px;
}

/* Centering images */
img {
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}

/* Link styling */
a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* List styling */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Links section styling */
.links {
  text-align: center;
  margin-top: 20px;
}

.links nav ul {
  display: inline-block;
  text-align: left;
}

.links h2 {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

/* Center the h1 */
h1 {
  text-align: center;
}
