/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #000000;
    background-color: #DDD8C4;
  }

div .code {
    font-size: 40px;
    font-family: "monospace";
}

image {
    max-width: 50%;
    max-height: 40%;
}