h1 {
  color: rgb(6, 6, 6); /* Set the font color to dark gray */
  text-align: center; /* Center the text */
  padding: 10px; /* Add some padding for better aesthetics */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 20px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000000;
}

section {
  width: 100%;
  max-width: 800px;
  background: #b90101;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.minor-section {
  margin-bottom: 20px;
  background-color: #ff0000;
  font-size: 18px;
  color: rgb(31, 31, 31); /* Set the font color to dark gray */
  text-align: center; /* Center the text */
  padding: 10px; /* Add some padding for better aesthetics */
  border-radius: 10px; /* Add rounded corners */
  border-width: 5px rgb(188, 0, 0);;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #ff0000, #cc0000);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: white;
}

.pokemon-info button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.pokemon-info button:hover {
  background-color: #0056b3;
}

#pokemon-name {
  font-size: 34px;
  margin: 10px 0;
  color: #fff;
}

#pokemon-image {
  width: 300;
  height: 300;
  object-fit: contain;
  margin-bottom: 10px;
}

#pokemon-details {
  position: center;
  font-size: 20px;
  color: #fff;
}

#output {
  margin-top: 10px;
  color: #ffffff;
  font-size: 30px;
}
