/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: darkgray;
    color: rgb(110, 0, 0);
    font-family: Arial;
    font-size: 3em;
  }